
.idea/BEATS.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
SOFTWARE/__pycache__/Detection_system_Lite.cpython-38.pyc
SOFTWARE/__pycache__/stop_thread.cpython-38.pyc
__pycache__
.idea
.DS_Store
